<nav> 
  {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>  
  {{/if}}
</nav>

<h2>Recents</h2>
{{#each blogs as |blog|}}
  <a href = "/api/blog/{{blog.id}}">
    <p>{{blog.blog_title}}</p>
  </a>
  <p>{{blog.post_date}}</p>
  <p>{{blog.user.name}}</p>
{{/each}}